:root {
  --black: #2b2b2b;
  --slateGreen: #3b4848;
  --white: #eaece8;
  --yellow: #c6b85c;
}

html,
body {
  background-color: var(--white);
  font-family: sans-serif;
  font-size: 10px;
  margin: 0;
}

.release {
  border-bottom: 1px solid var(--black);
  margin-bottom: 5rem;
}

.release__list {
  color: var(--black);
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 3rem;
}

p,
.release__paragraph {
  font-family: "Merriweather";
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

.release__paragraph:first-of-type:first-letter {
  color: var(--black);
  float: left;
  font-family: "Merriweather";
  font-size: 7rem;
  padding-top: 0.1rem;
  padding-right: 0.8rem;
  -webkit-margin-before: 1.1rem;
}

.release__heading {
  font-family: "Darker Grotesque";
  /* margin: 0; */
}
.release__title {
  font-size: 3rem;
  font-weight: 300;
}
.release__subtitle {
  font-family: "Merriweather";
  font-size: 3rem;
  font-weight: 700;
}
.release__cover {
  /* display: none !important; */
  margin-top: 2rem;
}
.release__link {
  color: var(--slateGreen);
  display: inline-block;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2rem 0;
}
.release__date {
  font-size: 1.2rem;
  opacity: 0.4;
  text-transform: uppercase;
  text-align: right;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .release__list {
    max-width: 68rem;
    padding: 0 2rem;
  }
  .release__title {
    font-size: 2.5rem;
  }
  .release__subtitle {
    font-size: 2.5rem;
  }
  p,
  .release__paragraph {
    font-size: 1.4rem;
  }
  .release__date {
    font-size: 1rem;
  }
  .release__paragraph:first-of-type:first-letter {
    font-size: 6rem;
    padding-top: 0.8rem;
    -webkit-margin-before: 0.8rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
